/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'Kanit', sans-serif;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
    font-family: Arial, sans-serif;
  }
  
  aside {
    float: left;
    width: 30%;
    font-family: Verdana, sans-serif;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */

  header{
    background-color: rgb(25, 45, 109);
    border-bottom: 5px solid rgb(25, 45, 109);
  }

  footer{
    background-color: rgb(24, 71, 226);
    border-top: 5px solid rgb(24, 71, 226);
  }
  
  header, footer {
    color:white;
  }
  
  /* WRITE YOUR CODE BELOW HERE */