/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'Nabla', cursive;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
    font-family: Arial, sans-serif;
  }
  
  aside {
    float: left;
    width: 30%;
    font-family: Verdana, sans-serif;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */